.filter-bar-ctn{
    background: linear-gradient(to right, white,#f6ffff);;
    padding: 20px;

    font-family:  'Bree Serif', 'Lato', serif;

    width: 300px;

    flex: 1;

}

.filter-bar-ctn h1{
    font-family:  'Bree Serif', serif;
    color: #2fd4ae;


}


#filter-bar-cetegory-ctn{
    display: flex;
    flex-wrap: wrap;
}

.catogory-filter{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: larger;
    margin: 10px;
    
    cursor: pointer;
}

#category-filter-selected{
    background-color: #2fd4ae;
    color: white;
}


#nbFilmPage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-bar-ctn h2{
    margin-top: 50px;
    font-size: 20px;
    color: #2fd4ae;


}


.nbFilmPage-button{
    background-color: white;
    font-size: 20px;
    border: none;
    border-radius: 7px;

    width: 50px;
    margin: 15px;
    padding: 10px;

    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.098); 
    cursor: pointer;
    font-family: 'Bree Serif', serif;
}

#nbFilmPage-selected{
    box-shadow: 0 0 15px 2px #2fd4ae87; 
    background-color: #2fd4ae;
    color: white;

}

.pagination-avance-retour{
    font-size: 35px;
    color: #2fd4ae;
    cursor: pointer;
}

.pagination-avance-retour:hover, .nbFilmPage-button:hover{
    opacity: 0.5;
}