
body, html{
  background-color: #f6ffff;   
  height: 100%;
  overflow: hidden;
}

#root, .App{
  height: 100%;
}



@font-face {
  font-family: "Exo-Regular";
  src: url("/public/fonts/Exo-Regular.otf");
}

@font-face {
  font-family: "Lato";
  src: url("/public/fonts/Lato-Medium.ttf");
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
